<section id="about" class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
	<hr/>
		<div class="row">
			<h3>About Code for Foco</h3>

			<p>We are programmers, designers, hackers, makers, tinkerers, writers and artists and we want to have an impact on the community around us.</p>

			<p>We are dedicated to using technology to solve everyday challenges that the people, non-profits, charities, schools, government and grassroots organizations of Fort Collins face.</p>
		</div>
		<hr/>
		<div class="row">
			<h3>Join Code For FoCo</h3>
			<p>Want to join us? Here are three ways to get started.</p>
			<ul>
				<li>Come say hi at one of our <a href="http://codeforfoco.org/about/#events" alt="Events">events</a></li>
				<li>Hop on our <a href="https://codeforfoco.slack.com/" alt="Slack Channel">Slack channel</a> and introduce yourself</li>
				<li>Email us at <a href="mailTo:people@codeforfoco.org" alt="Email Us">people@codeforfoco.org</a></li>
				<li>Tackle an issue on our <a href="https://github.com/codeforfoco" alt="Github">Github</a></li>
			</ul>
			<p>Be sure to read and understand our <a href="http://codeforfoco.org/code_of_conduct" alt="Code of conduct">Code of Conduct</a>.</p>
			
		</div>
	</section>


	<section id="events" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
		<div class="row">
			<h3>Events</h3>
			<category name="Blog.blog.events"></category>
		</div>
	</section>


	<section id="partners" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 module parallax parallax-2">
		<div class="row text-center">
			<h3>Meet our partners</h3>
		</div>
		<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 block-center">
			<a href="http://galvanize.com"><img src="../assets/images/partners/galvanize.png"></a>
			</div>
		</div>
	</section>