<footer class="col-xs-12 col-sm-12 col-md-12 col-lg-12 module parallax parallax-2">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
				<a href="mailTo:people@codeforfoco.org"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a>
				<a href="https://codeforfoco.slack.com/"><i class="fa fa-slack fa-2x" aria-hidden="true"></i></a>
				<a href="http://github.com/codeforfoco"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
				<a href="#about" alt="About"><h3 class="button">About</h3></a>
				<a href="#events" alt="Events"><h3 class="button">Events</h3></a>
				<a href="/posts.html" alt="Posts"><h3 class="button">Posts</h3></a>
				<a href="#about" alt="Projects"><h3 class="button">Projects</h3></a>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
				<h3>&copy 2016 codeforfoco.org</h3>
			</div>
		</div>
	</footer>